header{
    background-color: aquamarine;/*cor de fundo*/
    color: beige;/*cor da fonte*/
    text-align: center;/*alinhar o texto ao centro*/
    max-width: 800px;/*largura máxima*/
    margin: 0 auto;
    padding: 16px;/*espaçamento interno*/
    border: 5px solid black;
}
main{
    background-color: blanchedalmond;/*cor de fundo*/
    color: rgb(50, 211, 32);
    text-align: center;/*alinhamento do texto*/
    max-width: 800px;/* largura máxima */
    margin: 0 auto;/*espaçamento externo ao redor do elemento*/
    padding: 16px;/*espacamanto interno*/
    display: flex;/*habilita o uso de flex box*/
    flex-direction: row;/*orienta os elementos na horizontal na orde 1, 2, 3*/
}

footer{
    background-color: rgb(202, 140, 47);/*cor de fundo*/
    color: rgb(166, 250, 250);/*cor da fonte*/
    max-width: 800px;/* largura máxima */
}
img{
    width: 80px;/*largura*/
    height: 80px;/*altura*/
}
.artigo-autor {
    font-weight: bold;
}
